PORT=8080
AWS_REGION=us-east-1
EVM_RPC_URL="https://mainnet.infura.io/v3/YOUR_INFURA_PROJECT_ID"
BEDROCK_MODEL_ID=global.anthropic.claude-sonnet-4-6

# # FOR DEVELOPMENT PURPOSES ONLY - DO NOT USE IN PRODUCTION - DO NOT PUT YOUR KEY IN THE ENV FILE!
# WALLET_MNEMONIC="test test test test test test test test test test test junk"
